body {margin: 0;}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a { 
    text-decoration: none; color: inherit;
}
.w_1140 {
    width: 1140px;
    margin: 0 auto;

    height: 100%;
    position: relative; 
}
.w_1200 {
    width: 1200px;
    margin: 0 auto;

    height: 100%;
    position: relative; 
}
/* .sub_title_img_mac{
    width: 400px;
    height: 300px;
    background:url(../img/mac/macbookpro.jpeg);
} */